body {
  margin: 1.5rem;
  font-family: 'Inter', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg.logo {
  width: 4em;
}

header svg.menu {
  width: 3em;
  margin-top: 1em;
  cursor: pointer;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: .75em 2em;
  display: block;
  text-decoration: none;
}

nav ul a:hover {
  text-decoration: underline;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
  cursor: pointer;
}

.hero-img {
  background: url("../img/image-web-3-mobile.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  margin-top: -6em;
}

.hero-content h1 {
  font-size: 2.7em;
  font-weight: 900;
  margin: 1em 0;
}

.hero-content p {
  color: #afb0b6;
  margin-top: -1em;
  margin-bottom: 2em;
}

.hero-content a.read-more {
  color: white;
  display: block;
  background: #f15e50;
  width: 10em;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5em;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.15em;
}

.sidebar {
  background: #00001a;
  padding: 0.5em 1em;
  margin-bottom: 4em;
}

.sidebar h2 {
  color: #e9ab53;
  margin: 1.5em 0 2em 0;
}

.sidebar h3 {
  color: white;
  margin-bottom: 1.5em;
}

.sidebar p {
  margin-bottom: 2em;
}

.sidebar hr {
  border: 0.5px solid #c5c6ce;
  margin-bottom: 2em;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-bottom: 4em;
}

.feature .feature-content {
  width: 52%;
  max-width: 200px;
  height: auto;
}

.feature img {
  width: 40%;
  max-width: 200px;
  height: auto;
}

.feature h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.feature h3 {
  font-size: 2rem;
  margin: 0 0 0.5em 0;
  color: #c1bfbd;
}

.feature p {
  font-size: 1.2em;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 950px) {
  header svg.menu {
    display: none;
  }
  header nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  header svg.close {
    display: none;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  header ul a {
    font-size: 0.8rem;
    color: #afb0b6;
    text-decoration: none;
  }
  header ul a:hover {
    text-decoration: underline;
  }
  .top-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.feature {
    width: 1500px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  header {
    margin-bottom: 1rem;
  }
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    color: #444;
  }
  .hero-img {
    grid-column: col1-start;
    grid-row: row1-start;
    background: url("../img/image-web-3-desktop.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    margin: 0;
    max-height: 250px;
  }
  section.left-col {
    width: 750px;
  }
  section.right-col {
    width: 400px;
  }
  .new-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-story-content P {
    margin-top: 45px;
  }
}
/*# sourceMappingURL=main.css.map */